
.left {
    position: absolute;
    left: 5px;
    width: 50%;
    text-align: left;
}

.center{
    position: absolute;
    text-align: center;
}

.right{
    position: absolute;
    right: 5px;
    width: 50%;
    text-align: right;
}


.home {
    position: relative;
    text-align: center;
    color: white;
   
}

.top_left {
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 24px;

}

.bottom_right {
    position: absolute;
    bottom: 20px;
    right: 30px;
    font-size: 24px;
}



.product_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 65px;
    row-gap: 70px;
}

.product_image {
    width: 275px;
    height: 240px;
}

.hr_product{
    width:30%;
    border: 2px solid black;
}

.add_to_cart_button {
    background-color: #bf7631;
    color: white;
    font-weight: bold;
    font-size: 12px;
}