.nav_items{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    text-decoration: none;
    display: inline;
    font-size: small;
    margin-right: 1rem;
    padding-top: 1rem;
}

.logo_style {
    height: 2rem;
    width: 3rem;
    padding-top: 2rem;
}

.cara_cara_style {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem; 
    padding-top: 2rem;
}

.example{
    text-align: center;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 2rem;
}

.nav_flex_box{
    display: flex;
    justify-content: space-between;
}

.search_bar{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline;
    font-size: small;
    text-align: right;
    padding-top: 4rem;

}

.nav_search_button{
    position: relative;
    left:-2.5rem;
    top:5px;
    background-color:transparent;
    border:none;
}
.hr_header{
    border: 2px solid black;
    
}

.home {
    position: relative;
    text-align: center;
    color: white;
   
}

.top_left {
    position: absolute;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    top: 4rem;
    left: 3rem;
    font-size: 2rem;

}

.bottom_right {
    position: absolute;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    bottom: 4rem;
    right: 3rem;
    font-size: 2rem;
}

.about_header{
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hr_about{
    border:  2px solid black;
    width: 50%;
    margin-left: 0rem;
    margin-right: 5rem;
}
.about_grid{
    display: grid;
    grid-template-areas: 
    "text1 text1 img1" 
    "img2 text2 img1" 
    "img2 text3 img1";
    gap: 2rem;
}

.text_one{
    grid-area: text1;
}

.text_two{
    grid-area: text2;
}

.text_three{
    grid-area: text3;
}

.image_one{
    grid-area: img1;
    max-width: 420px;
}

.image_two{
    grid-area: img2;
    max-width: 300px;
}

.products_hr{
    border:  2px solid black;
    width: 50%;
    margin-left: 0rem;
    margin-right: 5rem;
}

.product_one{
    grid-area: prod1;
}

.product_two{
    grid-area: prod2;
}

.product_three{
    grid-area: prod3;
}

.product_four{
    grid-area: prod4;
}

.product_five{
    grid-area: prod5;
}

.product_six{
    grid-area: prod6;
}

.product_seven{
    grid-area: prod7;
}

.product_eight{
    grid-area: prod8;
}

.product_nine{
    grid-area: prod9;
}

.product_container {
    display: grid;
    grid-template-areas: 
    "prod1 prod2 prod3" 
    "prod4 prod5 prod6" 
    "prod7 prod8 prod9";
    column-gap: 65px;
    row-gap: 70px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.products{
    text-align: left;
    font-size:medium;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.product_image {
    width: 275px;
    height: 240px;
}

.hr_product{
    width:30%;
    border: 2px solid black;
}

.add_to_cart_button {
    background-color: #bf7631;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.contact_us{
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contact_hr{
    border:  2px solid black;
    width: 50%;
    margin-left: 0rem;
    margin-right: 5rem;
}
.email{
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.email_box{
    text-align: center;
}

.message{
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.message_box{
    text-align: center;
}

.send_message_button {
    margin-top: 1rem;
    margin-left:28.7rem;
    background-color: #bf7631;
    width:6rem;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

.footer{
    position: relative;
    text-align:center;
    display:flex;
    background-color: #bf7631;
    color: black;

}

.footer_container{
    display:flex;

}

.footer_flex_box{
    display: flex;
}

.youtube{
    margin-left:19rem;
    padding-top: 1rem;
}

.facebook{
    padding-top: 1rem;
}

.twitter{
    margin-left:6rem;
    padding-top: 1rem;
}

.instagram{
    padding-top: 1rem;
}

.logo_style_footer{
    height: 3rem;
    width: 3rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.cara_cara_footer1{
    margin-left: 5rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem; 
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.cara_cara_footer2{
    margin-left: 0rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem; 
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.pretium{
    position:absolute;
    bottom: 0;
    left: 19rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:smaller;
}

.amet{
    position:absolute;
    bottom: 0;
    left: 40rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:smaller;
}

.bottom_center_footer{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
    padding-top:3rem;
    text-align:center;
}

.copyright{
    position:absolute;
    bottom: 0;
    right: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:smaller;
    padding-right: 1rem;
}